ANTHROPIC_API_KEY='{Delete everything past the = and put your API key here!}'
SMARTSHEET_TOKEN='{Delete everything past the = and put your API key here!}'
DEFAULT_SHEET_ID='{Delete everything past the = and put your API key here!}'